* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 20px;
}

#ui {
    padding: 10px 20px;
}

#grid-container {
    
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 20px;
    width: 960px;
    height: 960px;
}

.grid .grid-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid .grid-elem {
    border-style: solid;
    border-color: #121212;
    border-width: 1px;
    flex-grow: 1;
    background-color: aquamarine;
}

.grid .grid-elem:hover {
    opacity: 0.3;
}